@charset "UTF-8";

@font-face {
  font-family: "Poppins-Bold";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* a {
  text-decoration: none;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__top {
  padding: 20px 15px;
}

.header__body {
  padding: 0 15px;
}

.header-top {
  background-color: #ba0000;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__link {
  font-family: Poppins-Regular;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.header-top__link:after {
  content: url(../img/headerAndFooter/arrow-down.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  margin-left: 5px;
}

.header-top__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header-top__item .header-top__link {
  margin-right: 30px;
}

.header-top__item .header-top__link:first-child:after {
  content: url(../img/headerAndFooter/cabinet.svg);
  height: 15px;
  width: 15px;
}

.header-top__item .header-top__link_adaptive-text {
  line-height: 50px;
  color: red !important;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Poppins-Bold;
  letter-spacing: .42px;
}

.header-top__item .header-top__link_adaptive-text:first-child:after {
  content: url(../img/headerAndFooter/cabinet.svg);
  height: 15px;
  width: 15px;
  top: -7px;
}

.header-top__item .header-top__link_adaptive-text:last-child:after {
  top: -9px;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  position: relative;
  background-color: #ffcc00;
}

.header-body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-body__nav-list {
  position: relative;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-body__nav-item {
  position: relative;
  margin-right: 50px;
}

.header-body__nav-item:last-child {
  margin-right: 0;
}

.header-body__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  color: #ba0000;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Poppins - Regular";
  letter-spacing: 0.42px;
  opacity: 0.7;
}

.header-body__nav-link:hover {
  opacity: 1;
}

.header-body__nav-link:hover:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ba0000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-body__button {
  display: block;
  border: none;
  outline: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ba0000;
  cursor: pointer;
}

.header-body__button:hover {
  -webkit-box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
          box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
}

.header-body__adaptive-menu {
  display: none;
}

.adaptive-menu {
  height: 120px;
}

.adaptive-menu__line {
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;
}

.adaptive-menu__line:nth-of-type(2) {
  margin: 7px 0;
}

.adaptive-menu #adaptive-menu__list {
  display: none;
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #ffcc00;
  padding: 10px;
  z-index: 100;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.adaptive-menu__link {
  line-height: 50px;
  color: #ba0000;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Poppins-Bold";
  letter-spacing: 0.42px;
}

.adaptive-menu__list_active {
  display: block !important;
  -webkit-animation: slideRight .35s ease-out;
          animation: slideRight .35s ease-out;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.footer {
  position: relative;
  background-color: #ba0000;
  z-index: 1;
}

.footer__layer {
  position: absolute;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  height: 100%;
  right: 50%;
  background-color: #eee;
  -webkit-transform: skewX(20deg) translateX(50%);
      -ms-transform: skewX(20deg) translateX(50%);
          transform: skewX(20deg) translateX(50%);
  z-index: -1;
}

.footer__container {
  position: relative;
  padding: 51px 15px 51px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  width: 215px;
  margin-right: 25px;
}

.footer__column:last-child {
  margin-right: 0;
}

.footer__list-item {
  margin: 5px 0;
}

.footer__list-link {
  color: #000;
  font-family: Poppins-Bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  opacity: 0.75;
}

.footer__list-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer__list-title {
  color: #ba0000;
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}

.deliver {
  height: auto;
  max-height: 1311px;
  background: #ba0000 url('../img/deliver/bg.jpeg') no-repeat center;
}

.deliver__red-gradient {
  height: 100%;
  max-height: 1311px;
  background-image: -o-linear-gradient(45deg, #ba0000 0%, rgba(255, 204, 0, 0.7) 99%, rgba(255, 204, 0, 0) 100%);
  background-image: linear-gradient(45deg, #ba0000 0%, rgba(255, 204, 0, 0.7) 99%, rgba(255, 204, 0, 0) 100%);
}

.deliver__container {
  width: 100%;
  max-width: 747px;
  padding: 90px 15px;
}

.deliver__title {
  color: #ffffff;
  font-family: Poppins;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 2.1px;
  width: 100%;
  max-width: 440px;
}

.deliver__decorate-line {
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ffcc00;
  margin: 40px 0 35px 0;
}

.deliver__text {
  color: #ffcc00;
  font-family: Poppins;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.deliver__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
}

.deliver__advantages-list .advantages-list__item {
  margin-right: 55px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
}

.deliver__advantages-list .advantages-list__item:last-child {
  margin-right: 0;
}

.deliver__advantages-list .advantages-list__item:nth-of-type(2):before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffcc00;
  position: absolute;
  top: 50%;
  left: -25px;
}

.deliver__advantages-list .advantages-list__item:nth-of-type(2):after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffcc00;
  position: absolute;
  top: 50%;
  right: -25px;
}

.deliver__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 60px;
}

.deliver__button {
  margin-right: 20px;
}

.deliver__button:last-child {
  margin-right: 0;
}

.worldwide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 194px;
  height: 52px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.worldwide-button:hover {
  background-color: #ffcc00;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  color: #ba0000;
  border: none;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.services {
  padding: 80px 15px 100px 15px;
}

.services__title {
  margin-bottom: 115px;
  color: #ba0000;
  font-family: Poppins;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 1.5px;
  position: relative;
}

.services__title:before {
  position: absolute;
  content: "Services";
  color: #f8f8f8;
  font-family: Poppins;
  font-size: 150px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  z-index: -1;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services-info__column {
  width: 100%;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  margin-right: 25px;
}

.services-info__img {
  width: 100%;
  max-width: 270px;
  height: auto;
}

.services-info__title {
  color: #ba0000;
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.services-info__text {
  color: #777777;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.services-info__link {
  color: #222222;
  font-family: Poppins-Bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
  display: inline-block;
  padding-top: 20px;
}

.servises-info-form {
  background-color: #ba0000;
  padding: 30px;
  height: 100%;
  min-height: 340px;
}

.servises-info-form__title {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.servises-info-form__decorate-line {
  display: block;
  width: 70px;
  height: 2px;
  background-color: #ffcc00;
}

.servises-info-form__text {
  color: #ffffff;
  font-family: Poppins-Light;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.servises-info-form__select {
  width: 210px;
  height: 50px;
  background-color: #9d0000;
  padding: 15px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  line-height: 80px;
  letter-spacing: 0.48px;
}

.servises-info-form__option {
  font-size: 24px;
  line-height: 55px;
  background-color: #9d0000;
}

.services-video {
  background: #fff url("../img/services-video/services-video-bg.png") no-repeat center center;
  height: 700px;
}

.services-video__layer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.services-video__title-box {
  text-align: center;
  padding: 150px 15px 50px 15px;
}

.services-video__title {
  color: #ffffff;
  font-family: Poppins-Bold;
  font-size: 50px;
  line-height: 80px;
  letter-spacing: 1.5px;
}

.services-video__button-box {
  text-align: center;
}

.services-video__button {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid #ffcc00;
  background-color: #ffcc00;
  outline: none;
}

.services-video__button:hover {
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  cursor: pointer;
}

.services-video__button:after {
  content: url(../img/services-video/play.svg);
}

.about-company__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  margin: -193.33px 15px 100px 15px;
  padding: 0 -15px;
}

.about-company__column {
  width: 100%;
  max-width: 370px;
  margin: 0 12px;
  -webkit-box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
          box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
  background-color: #ffffff;
}

.about-company-column__img {
  width: 100%;
  max-width: 370px;
  height: auto;
}

.about-company-column__text {
  padding: 30px;
}

.about-company-column__title-box {
  padding-bottom: 30px;
}

.about-company-column__title {
  color: #ba0000;
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.about-company-column__item {
  color: #777777;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins - Regular";
  letter-spacing: 0.48px;
}

.about-company-column__icon {
  display: inline-block;
  padding-right: 15px;
  color: #ffcc00;
  font-family: "Font Awesome";
  font-size: 20px;
}

/* SPOILERS*/

.about-company__spoiler-container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.about-company-spoilers {
  max-width: 570px;
  width: 100%;
  height: 100%;
  min-height: 533px;
  background-color: #ba0000;
  margin-right: 35px;
}

.about-company-spoilers__swich-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-company-spoilers__swich {
  cursor: pointer;
  width: 50%;
  height: 50px;
  background-color: #ba0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #ffcc00;
  color: #bb0400;
}

.about-company-spoilers__swich:hover {
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}

.about-company-spoilers__swich_active {
  background-color: #ba0000 !important;
  color: #fffcfc;
}

.about-company-spoilers__swich_active:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about-company-spoilers__item {
  height: 50px;
  border: 2px solid #ffffff;
  padding: 0 20px;
  position: relative;
  margin: 20px 40px 0 40px;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.about-company-spoilers__item:before {
  content: url(../img/about-company/arrowDown.svg);
  position: absolute;
  right: 20px;
  width: 15px;
}

.about-company-spoilers__item:after {
  content: "";
  position: absolute;
  right: 55px;
  height: 100%;
  width: 2px;
  background-color: #fff;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.about-company-spoilers__item_active {
  border: 2px solid #ffcc00;
  background-color: #ffcc00;
  color: #ba0000;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.about-company-spoilers__item_active + .about-company-spoilers__hidden-items-box {
  opacity: 1 !important;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.about-company-spoilers__item_active:after {
  background-color: #ba0000;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.about-company-spoilers__hidden-items-box {
  opacity: 0;
  max-height: 0;
  margin: 0px 40px;
  margin: 0 40px 10px 40px;
  background-color: #a30000;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  border: 2px solid #ffcc00;
}

.about-company-spoilers__hidden-item {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins - Regular";
  letter-spacing: 0.48px;
  padding: 10px 30px;
}

.about-company-spoilers__hidden-item:before {
  content: "►";
  color: #ffcc00;
  display: inline-block;
  padding-right: 10px;
  font-size: 10px;
}

.about-company-decor {
  padding: 20px;
  position: relative;
}

.about-company-decor img {
  width: 100%;
  max-width: 350px;
  height: auto;
  -webkit-box-shadow: -20px -20px 0px 0px #FFCC00;
          box-shadow: -20px -20px 0px 0px #FFCC00;
}

.about-company-decor img:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 156px;
  height: 50px;
  bottom: 0;
  left: 20px;
  z-index: 5 !important;
}

#spoiler-page-1 {
  display: block;
  -webkit-transition: display 0.3s ease-out;
  -o-transition: display 0.3s ease-out;
  transition: display 0.3s ease-out;
}

#spoiler-page-2 {
  display: none;
  -webkit-transition: display 0.3s ease-out;
  -o-transition: display 0.3s ease-out;
  transition: display 0.3s ease-out;
}

#swich2 {
  background-color: #ffcc00;
}

.excellence__title {
  color: #fff;
  font-family: Poppins-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding: 0 15px;
}

.excellence__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: -15px;
  margin: 0 15px;
  margin-top: 40px;
}

.excellence__text {
  width: 100%;
  max-width: 739px;
  margin-right: 35px;
}

.excellence__paragraph {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.excellence__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #a00000;
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.excellence__link:hover {
  text-decoration: underline;
  background-color: #fc0;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  color: #ba0000;
  -webkit-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.clients__container {
  padding: 70px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients__logo-box {
  width: 270px;
  height: 129px;
  background-color: #f9f9f9;
  margin-right: 20px;
  border: 2px solid rgba(186, 0, 0, 0.1);
}

.clients__logo-box:hover {
  transform: scale(1.1,1.1);
}

.clients__logo-box:last-child {
  margin-right: 0;
}

.client-logo-1 {
  background: #f9f9f9 url(../img/clients/clients01.png) center center no-repeat;
}

.client-logo-2 {
  background: #f9f9f9 url(../img/clients/clients02.png) center center no-repeat;
}

.client-logo-3 {
  background: #f9f9f9 url(../img/clients/clients03.png) center center no-repeat;
}

.client-logo-4 {
  background: #f9f9f9 url(../img/clients/clients04.png) center center no-repeat;
}

.footer {
  position: relative;
  background-color: #ba0000;
  z-index: 1;
}

.footer__layer {
  position: absolute;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  height: 100%;
  right: 50%;
  background-color: #eee;
  -webkit-transform: skewX(20deg) translateX(50%);
      -ms-transform: skewX(20deg) translateX(50%);
          transform: skewX(20deg) translateX(50%);
  z-index: -1;
}

.footer__container {
  position: relative;
  padding: 51px 15px 51px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  width: 215px;
  margin-right: 25px;
}

.footer__column:last-child {
  margin-right: 0;
}

.footer__list-item {
  margin: 5px 0;
}

.footer__list-link {
  color: #000;
  font-family: Poppins-Bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  opacity: 0.75;
}

.footer__list-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer__list-title {
  color: #ba0000;
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}

.main-wrapper {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}

.yellow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 52px;
  border-radius: 25px;
  background-color: #ffcc00;
  color: #ba0000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.yellow-link:hover {
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}

@media screen and (max-width: 1340px) {
  .footer {
    background-color: #eee;
  }

  .footer__layer {
    display: none;
  }

  .footer__container {
    padding: 60px 15px;
  }

  .footer {
    background-color: #eee;
  }

  .footer__layer {
    display: none;
  }

  .footer__container {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 1230px) {
  .services-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1180px) {
  .about-company__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -200px 15px 100px 15px;
  }

  .about-company__column {
    margin-bottom: 35px;
  }

  .about-company-column__title-box {
    padding-bottom: 10px;
  }

  .clients__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clients__logo-box {
    margin-bottom: 30px;
  }

  .clients__logo-box:last-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 980px) {
  .header__top {
    display: none;
  }

  .header-body {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;
  }

  .header-body__nav {
    display: none;
  }

  .header-body__adaptive-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 930px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    margin-bottom: 30px;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 920px) {
  .services-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .services-video__title-box {
    padding: 50px 15px 30px 15px;
  }

  .services-video__title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media screen and (max-width: 820px) {
  .services {
    padding: 35px 15px 35px 15px;
  }

  .services__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .services__title:before {
    content: none;
  }
}

@media screen and (max-width: 760px) {
  .excellence {
    padding: 30px 15px;
  }

  .excellence__title {
    text-align: center;
  }

  .excellence__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .excellence__text {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 750px) {
  .about-company__spoiler-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }

  .about-company-spoilers {
    margin-bottom: 35px;
    min-height: 480px;
    max-width: 500px;
    margin-left: 35px;
  }
}

@media screen and (max-width: 735px) {
  .about-company-spoilers__hidden-item {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 635px) {
  .services-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px;
  }

  .footer__column {
    margin-right: 0;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px;
  }

  .footer__column {
    margin-right: 0;
  }
}

@media screen and (max-width: 610px) {
  .clients__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px 15px;
  }

  .clients__logo-box {
    margin-right: 0;
  }

  .clients__logo-box:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .deliver__container {
    padding: 100px 15px;
  }

  .deliver__title {
    line-height: 50px;
    font-size: 40px;
  }

  .deliver__decorate-line {
    margin: 25px 0 20px 0;
  }

  .deliver__text {
    font-size: 16px;
    line-height: 22px;
  }

  .deliver__advantages-list {
    margin-top: 30px;
  }

  .deliver__advantages-list .advantages-list__item {
    margin-right: 25px;
  }

  .deliver__advantages-list .advantages-list__item:nth-of-type(2):before {
    left: -12px;
  }

  .deliver__advantages-list .advantages-list__item:nth-of-type(2):after {
    right: -12px;
  }
}

@media screen and (max-width: 476px) {
  .services-video__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 470px) {
  .adaptive-menu #adaptive-menu__list {
    max-width: none;
  }
}

@media screen and (max-width: 440px) {
  .services-video {
    height: 350px;
  }

  .about-company__container {
    margin-top: 35px;
    margin: 35px 0;
  }
}

@media screen and (max-width: 425px) {
  .header-top {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .deliver__advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .deliver__advantages-list .advantages-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .deliver__advantages-list .advantages-list__item:last-child {
    margin-bottom: 0px;
  }

  .deliver__advantages-list .advantages-list__item:nth-of-type(2):before {
    content: none;
  }

  .deliver__advantages-list .advantages-list__item:nth-of-type(2):after {
    content: none;
  }
}

@media screen and (max-width: 375px) {
  .about-company-spoilers__item {
    margin: 20px 20px 0 20px;
    padding: 0 10px;
    font-size: 12px;
  }

  .about-company-spoilers__hidden-items-box {
    margin: 0 20px 10px 20px;
  }

  .about-company-spoilers__hidden-item {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 370px) {
  .about-company-column__text {
    padding: 10px;
  }
}

@media screen and (max-width: 350px) {
  .about-company-column__item {
    line-height: 20px;
  }
}

.webp .deliver{ background: #ba0000 url(../img/deliver/deliver-bg.webp) no-repeat center center; }

.webp .services-video{ background: #fff url(../img/services-video/services-video-bg.webp) no-repeat center center; }

.webp .client-logo-1{ background: #f9f9f9 url(../img/clients/clients01.webp) center center no-repeat; }

.webp .client-logo-2{ background: #f9f9f9 url(../img/clients/clients02.webp) center center no-repeat; }

.webp .client-logo-3{ background: #f9f9f9 url(../img/clients/clients03.webp) center center no-repeat; }

.webp .client-logo-4{ background: #f9f9f9 url(../img/clients/clients04.webp) center center no-repeat; }


:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.wow {
  visibility:hidden;
}

.excellence {
  background-color: #ba0000;
  padding: 90px 15px;
}

body, html {
  height: 100%;
}

.parallax {
  
  background-color: #ba0000;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}